<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- Keytia en 155 -->
    <!--
    <add key="appConnectionString" value="server=192.168.2.155;database=keytia5;uid=Keytia;pwd=K3yt145DTI;Application Name=KeytiaServiceTester" />
    <add key="appConnectionStringBase-A" value="server=192.168.2.155;database=Keytia5;Application Name=KeytiaServiceTester" />
 -->

    <!-- Keytia en 159 -->
    <!--
    <add key="appConnectionString" value="server=192.168.2.159;database=keytia5Dev;uid=Keytia;pwd=K3yt145DTI;Application Name=KeytiaServiceTester" />
    <add key="appConnectionStringBase-A" value="server=192.168.2.159;database=Keytia5Dev;Application Name=KeytiaServiceTester" />
     -->

    <!-- Keytia en 157-->
    <!--
    <add key="appConnectionString" value="server=192.168.1.157;database=Keytia5;uid=Keytia;pwd=K3yt145DTI;Application Name=KeytiaServiceTester" />
    <add key="appConnectionStringBase-A" value="server=192.168.1.157;database=Keytia5;Application Name=KeytiaServiceTester"/>
    -->

    <!-- Keytia en Collaboration one -->

    <add key="appConnectionString" value="server=10.202.1.55;database=Keytia5;uid=Keytia;pwd=K3yt145DTI;Application Name=KeytiaServiceTester" />
    <add key="appConnectionStringBase-A" value="server=10.202.1.55;database=Keytia5;Application Name=KeytiaServiceTester"/>
 

    <add key="iCodCatUsuarDB" value="128209" />
    <add key="iCodCatCargaCDR" value="201424" />
    
    <add key="appSchema" value="Keytia" />

    <add key="RetryInProcess" value="0" />
    <add key="MessageGroupSize" value="1000" />
    <add key="ExcelCulture" value="en-US" />
    <add key="LogSqlExceptions" value="1" />
    <add key="LogSqlExceptions-PKDup" value="1" />
    <add key="LogRetry" value="1" />

    <add key="KeytiaWebFPath" value="D:\K5\Keytia5Web"></add>
    
    <add key="SmtpServer" value="smtp.gmail.com"></add>
    <add key="appeMailID" value="Keytia mail service&lt;keytia2@dti.com.mx&gt;"></add>
    <add key="appeMailUser" value="keytia2@dti.com.mx"></add>
    <!--<add key="appeMailPwd" value="DTIk3yt1am41l"></add>-->
    <add key="appeMailPwd" value=""></add>
    <add key="appeMailEnableSsl" value="1"></add>
    <add key="appeMailPort" value="587"></add>
    <add key="appeMailReplyTo" value="gramirez@dti.com.mx"></add>
    <add key="appeMailErrorNotify" value="rjimenez@dti.com.mx"></add>

    <add key="TablaUsuarK5" value="k3Nextel..UsuariosK5"/>
    <add key="TablaUsuarK3" value="k3Nextel..UsuarioNextelk3"/>
    <add key="TablaEmple" value="k3Nextel..EmpleNextelk3"/>

    <!--EV.20190729 Llaves para reporte de consumo detallado-->
    <add key="RutaArchivosExpDet" value="d:\K5\DownloadedFiles\"/>
    <add key="LinkDescargaExpDet" value="thunder.dti.com.mx/DownloadedFiles/"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>